// COLORS

$lightblack: #111

// SPLASH PAGE VARIABLES

$splash2bgcolor: #4ac4d9
$splash3bgcolor: brown
$splash4bgcolor: #c5b358
$splash5bgcolor: #6d6e70

$splashheader: Lato

// NAVIGATION VARIABLES
// base color default = #47a3da

$navbasecolor: grey

// HAMBURGER VARIABLES

$hamburgercolor: #fff		  // icon color
$hamburgeranimation: 0.6s	// animation speed
$hamburgerscale: 1			  // icon scale 68/68 default

