// COLORS

$lightblack: #111
$activecolor: ($lightblack + #555)

// SPLASH PAGE VARIABLES

$splash2bgcolor: white
$splash3bgcolor: white
$splash4bgcolor: white
$splash5bgcolor: white

$splashheader: 'Fredericka the Great', Lato, cursive

// NAVIGATION VARIABLES
// base color default = #47a3da

$navbasecolor: white
$navtitlemod: #999
$navheadermod: #090909
$navsecondarymod: #000

$navcolor: rgba(112,235,227,0.9)

$navfontcolor: $lightblack

$modalcolor: rgba(112,235,227,0.7)
$modalbgcolor: rgba(255,255,255,0.88)
$modaltitlemod: $navtitlemod
$modalheadermod: $navheadermod

$paypalbtncolor: #111


// HAMBURGER VARIABLES

$hamburgercolor: #fff		  // icon color
$hamburgeranimation: 0.6s	// animation speed
$hamburgerscale: 1			  // icon scale 68/68 default


$artlabelpadding: 5px

// TRANSITION

$transition: .4s all
