.gallery-cell.article
	.articlePhoto
		img(src="img/rehersal.jpg")
	.articleLabel
		.articleTitle Rehersals
		.articleDate.italic 5/31/2015
		.articleDescription  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi rerum qui sint reprehenderit quidem sed repudiandae accusantium accusamus totam, veritatis sapiente tempore officiis cupiditate explicabo quia est nobis exercitationem eligendi!
		button.btn.btn-primary-btn-lg.articleBtn.italic(type="button", data-toggle="modal", data-target="#myModal") Read More...
.gallery-cell.article 2
.gallery-cell.article 3