.gallery-cell.crew
	.crewPhoto
		img(src="img/angela-full.jpg")
	.crewLabel
		.crewName Angela Marie
		.crewJob Producer
		.crewJob Actress
	.crewIMBD IMBD &#9656;
.gallery-cell.crew
	.crewPhoto
		img(src="img/stephanie-full.jpg")
	.crewLabel
		.crewName Stephanie
		.crewJob Producer
		.crewJob Actress
	.crewIMBD IMBD &#9656;
.gallery-cell.crew
	.crewPhoto
		img(src="img/eric-full.jpg")
	.crewLabel
		.crewName Angela Marie
		.crewJob Actor
	.crewIMBD IMBD &#9656;
.gallery-cell.crew
	.crewPhoto
		img(src="img/micheal-full.jpg")
	.crewLabel
		.crewName Angela Marie
		.crewJob Actor
	.crewIMBD IMBD &#9656;
.gallery-cell.crew
	.crewPhoto
		img(src="img/cliff-full.jpg")
	.crewLabel
		.crewName Angela Marie
		.crewJob Actor
	.crewIMBD IMBD &#9656;
.gallery-cell.crew
	.crewPhoto
		img(src="img/will-full.jpg")
	.crewLabel
		.crewName Angela Marie
		.crewJob Actor
	.crewIMBD IMBD &#9656;