body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:transparent}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857;color:#333333;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:hover,a:focus{color:#23527c;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eeeeee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}[role="button"]{cursor:pointer}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}@-ms-viewport{width:device-width;}.visible-xs{display:none !important}.visible-sm{display:none !important}.visible-md{display:none !important}.visible-lg{display:none !important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{display:none !important}@media (max-width: 767px){.visible-xs{display:block !important}table.visible-xs{display:table}tr.visible-xs{display:table-row !important}th.visible-xs,td.visible-xs{display:table-cell !important}}@media (max-width: 767px){.visible-xs-block{display:block !important;}}@media (max-width: 767px){.visible-xs-inline{display:inline !important;}}@media (max-width: 767px){.visible-xs-inline-block{display:inline-block !important;}}@media (min-width: 768px) and (max-width: 991px){.visible-sm{display:block !important}table.visible-sm{display:table}tr.visible-sm{display:table-row !important}th.visible-sm,td.visible-sm{display:table-cell !important}}@media (min-width: 768px) and (max-width: 991px){.visible-sm-block{display:block !important;}}@media (min-width: 768px) and (max-width: 991px){.visible-sm-inline{display:inline !important;}}@media (min-width: 768px) and (max-width: 991px){.visible-sm-inline-block{display:inline-block !important;}}@media (min-width: 992px) and (max-width: 1199px){.visible-md{display:block !important}table.visible-md{display:table}tr.visible-md{display:table-row !important}th.visible-md,td.visible-md{display:table-cell !important}}@media (min-width: 992px) and (max-width: 1199px){.visible-md-block{display:block !important;}}@media (min-width: 992px) and (max-width: 1199px){.visible-md-inline{display:inline !important;}}@media (min-width: 992px) and (max-width: 1199px){.visible-md-inline-block{display:inline-block !important;}}@media (min-width: 1200px){.visible-lg{display:block !important}table.visible-lg{display:table}tr.visible-lg{display:table-row !important}th.visible-lg,td.visible-lg{display:table-cell !important}}@media (min-width: 1200px){.visible-lg-block{display:block !important;}}@media (min-width: 1200px){.visible-lg-inline{display:inline !important;}}@media (min-width: 1200px){.visible-lg-inline-block{display:inline-block !important;}}@media (max-width: 767px){.hidden-xs{display:none !important}}@media (min-width: 768px) and (max-width: 991px){.hidden-sm{display:none !important}}@media (min-width: 992px) and (max-width: 1199px){.hidden-md{display:none !important}}@media (min-width: 1200px){.hidden-lg{display:none !important}}.visible-print{display:none !important}@media print{.visible-print{display:block !important}table.visible-print{display:table}tr.visible-print{display:table-row !important}th.visible-print,td.visible-print{display:table-cell !important}}.visible-print-block{display:none !important}@media print{.visible-print-block{display:block !important;}}.visible-print-inline{display:none !important}@media print{.visible-print-inline{display:inline !important;}}.visible-print-inline-block{display:none !important}@media print{.visible-print-inline-block{display:inline-block !important;}}@media print{.hidden-print{display:none !important}}.social-media ul{text-align:right}.social-media li{height:2em;vertical-align:middle;color:#111;font-size:1.6em;font-style:italic;font-family:lato;margin-top:10px;cursor:pointer;-webkit-transition:color 0.2s ease-in-out 0s;-o-transition:color 0.2s ease-in-out 0s;transition:color 0.2s ease-in-out 0s}.social-media li:hover{color:white;-webkit-transition:color 0.2s ease-in-out 0s;-o-transition:color 0.2s ease-in-out 0s;transition:color 0.2s ease-in-out 0s}.social-media li img{height:100%;width:100%}.project-tn{width:100%;margin:20px auto 0 auto;text-align:center}.project-tn li{width:100px;height:100px;background-color:teal;display:inline-block;margin:0 20px 20px 20px}.header{text-align:center}.header .frill{display:inline-block;height:3.4em;width:3.4em;background-size:3.4em;background-image:url(../img/imptri.svg);margin-left:1em}@media only screen and (max-width: 520px){.header .frill{height:2.2em;width:2.2em;background-size:2.2em;}}.header h3{font-size:3.8em;display:inline-block}@media only screen and (max-width: 520px){.header h3{font-size:2.6em;}}.cbp-spmenu{background:#47a3da;position:fixed}.cbp-spmenu h3{color:#afdefa;font-size:1.9em;padding:20px;margin:0;font-weight:300;background:#0d77b6}.cbp-spmenu a{display:block;color:#fff;font-size:1.1em;font-weight:300}.cbp-spmenu a:hover{background:#258ecd}.cbp-spmenu a:active{background:#afdefa;color:#47a3da}.cbp-spmenu-vertical{width:240px;height:100%;top:0;z-index:1000}.cbp-spmenu-vertical a{border-bottom:1px solid #258ecd;padding:1em}.cbp-spmenu-left{left:-240px}.cbp-spmenu-left.cbp-spmenu-open{left:0px}.cbp-spmenu-push{overflow-x:hidden;position:relative;left:0}.cbp-spmenu-push-toright{left:240px}.cbp-spmenu,.cbp-spmenu-push{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}#showLeftPush,#showLeftPush2,#showLeftPush3,#showLeftPush4,#showLeftPush5{background-color:#0d77b6;border:none;color:#afdefa;height:2em;width:3em;font-family:'Pirata One';font-size:1.5em;font-style:italic;cursor:pointer;position:fixed}.buffer{width:100%;height:1500px;background-color:white}.section{width:100%;background-color:white;border-bottom:#ccc solid 2px}.project-img{background-color:teal;height:300px;width:300px}header{position:absolute;background-color:black;top:0;left:0;right:0;bottom:0;overflow:hidden}.cover-img{background-size:cover;position:absolute;top:0;left:0;right:0;bottom:0;background-image:url(../img/AW.jpg);z-index:10}.title-wrapper{position:absolute;z-index:20;top:5%;right:5%;bottom:5%;left:5%;text-align:right;color:white}.logo{margin:30vh auto;vertical-align:middle;width:400px}@media only screen and (max-width: 500px){.logo{width:80vw;}}.logo img{height:100%;width:100%}.logo li{font-size:1.5em;text-align:center;color:white}.logo a{color:#111}.logo a:hover{color:white;text-decoration:none}.social-media_header{float:right;clear:right}@media only screen and (max-width: 500px){.social-media_header{left:0;margin-left:auto;margin-right:auto;}}.bottom-arrow{position:absolute;z-index:30;bottom:5%;left:5%;height:45px;width:45px;cursor:pointer}@media only screen and (max-width: 500px){.bottom-arrow{display:none;}}.bottom-arrow img{height:100%;width:100%}.fade-to-black{position:absolute;z-index:1000;height:100%;width:100%;background-color:black}body{overflow:hidden}.section{height:100vh}footer{margin-left:-15px;margin-right:-15px;background-color:black;color:white}footer:before,footer:after{content:" ";display:table}footer:after{clear:both}.headshot{height:200px;width:200px}