.logo
	padding-top: 10vh
	margin: 0 auto
	vertical-align: middle
	width: 80%

	@media only screen and (max-width: 500px)
		width: 80%
		padding-top: 70%

	ul
		text-align: center
		padding-bottom: 20px

	img
		height: 100%
		width: 100%

	li
		font-size: 1.75em
		text-align: center
		margin-top: 20px
		color: white
		display: inline-flex
		width: 40%

		@media only screen and (max-width: 500px)
			width: 90%
			margin-top: 0

	a
		color: $lightblack
		width: 99%

		&:hover
			color: white
			text-decoration: none
