.logo
	margin: 30vh auto
	vertical-align: middle
	width: 400px

	@media only screen and (max-width: 500px)
		width: 80vw
	

	img
		height: 100%
		width: 100%

	li
		font-size: 1.5em
		text-align: center
		color: white

	a
		color: $lightblack

		&:hover
			color: white
			text-decoration: none

// .fade-to-black
// 	position:absolute
// 	z-index: 1000
// 	height: 100%
// 	width: 100%
// 	background-color: black