.logo
	margin: 10vh auto
	vertical-align: middle
	width: 80%

	@media only screen and (max-width: 500px)
		width: 80%

	ul
		text-align: center

	img
		height: 100%
		width: 100%

	li
		font-size: 1.75em
		text-align: center
		color: white
		display: inline-block
		width: 20%

	a
		color: $lightblack

		&:hover
			color: white
			text-decoration: none
