.splash1
	background: url(../img/aw.jpg)
	background-size: cover
	background-position: center

.splash2
	background-color: $splash2bgcolor

	.header 
		background-color: ($splash2bgcolor - #111)
		height: 5.55em

		h2
			font-size: 4em
			text-align: center
			font-family: $splashheader

.splash3
	background-color: $splash3bgcolor

	.header 
		background-color: ($splash3bgcolor - #111)
		height: 5.55em

		h2
			font-size: 4em
			text-align: center
			font-family: $splashheader

.splash4
	background-color: $splash4bgcolor

	.header 
		background-color: ($splash4bgcolor - #111)
		height: 5.55em

		h2
			font-size: 4em
			text-align: center
			font-family: $splashheader

.splash5
	background-color: $splash5bgcolor

	.header 
		background-color: ($splash5bgcolor - #111)
		height: 5.55em

		h2
			font-size: 4em
			text-align: center
			font-family: $splashheader
			color: white
