.splash1
	background: url(../img/aw.jpg)
	background-size: cover
	background-position: center

.splash2
	background-color: tan

.splash3
	background-color: lightblue

.splash4
	background-color: lavender

.splash5
	background-color: $lightblack
