.section-container
	margin: 3vh auto
	height: 80vh
	width: 80vw

.crew
	height: 75vh
	width: 400px
	margin: 0 20px
	background-color: ($splash4bgcolor - #111)

	font-size: 8em
	text-align: center
	font-family: $splashheader

.article
	height: 75vh
	width: 400px
	margin: 0 20px
	background-color: ($splash3bgcolor - #111)

	font-size: 8em
	text-align: center
	font-family: $splashheader